<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">

		<title>Cryptobox</title>
		<link rel="stylesheet" type="text/css" href="../template/css/style.css" />
		<link rel="stylesheet" type="text/css" href="../template/extern/jquery-ui/css/flick/jquery-ui-1.8.20.custom.css" />

		<script type="text/javascript" src="../template/extern/jquery-1.7.2.js"></script>
		<script type="text/javascript" src="../template/extern/jquery-ui/js/jquery-ui-1.8.20.custom.min.js"></script>

		<script type="text/javascript" src="../template/extern/seedrandom.js"></script>

		<script type="text/javascript" src="../template/extern/cjs/crypto/crypto.js"></script>
		<script type="text/javascript" src="../template/extern/cjs/blockmodes/blockmodes.js"></script>
		<script type="text/javascript" src="../template/extern/cjs/aes/aes.js"></script>
		<script type="text/javascript" src="../template/extern/cjs/hmac/hmac.js"></script>
		<script type="text/javascript" src="../template/extern/cjs/sha1/sha1.js"></script>
		<script type="text/javascript" src="../template/extern/cjs/pbkdf2/pbkdf2.js"></script>

		<script type="text/javascript" src="./cfg.js"></script>
		<script type="text/javascript" src="../template/js/open.js"></script>
		<script type="text/javascript" src="../template/js/view.js"></script>
		<script type="text/javascript" src="../template/js/password.js"></script>
		<script type="text/javascript" src="../template/js/crypto.js"></script>

		<script type="text/javascript">

$(document).ready(function() {
	$("#divUnlocked").hide();
	$("#divLocked").show();

	$(".button").button();

	$("#buttonUnlock").button({ icons: { primary: "ui-icon-unlocked" } });
	$("#buttonLock").button({ icons: { primary: "ui-icon-locked" } });
	$("#buttonGenerateShow").button({ icons: { primary: "ui-icon-gear" } });

	$("#formUnlock").submit(function(event) {
		event.preventDefault();
		try {
			map = unlock($("#inputPassword").val());
			$("#accordion_site").html(map.site);
			$("#accordion_app").html(map.app);
			$("#accordion_bookmark").html(map.bookmark);
			$("#accordion_card").html(map.card);
			$("#accordion_note").html(map.note);
			$("#accordion_json").html(map.json);

			$("#inputPassword").val("");
			$("#divLocked").hide();
			$("#divUnlocked").show();

			$("#divGenerate").hide();

			$(".button").button();
			$(".buttonToken").button({ icons: { primary: "ui-icon-lightbulb" } });
			$(".buttonGoto").button({ icons: { primary: "ui-icon-newwin" } });
			$(".buttonLogin").button({ icons: { primary: "ui-icon-key" } });
			$(".accordion").accordion({
				autoHeight: false,
				navigation: false,
				active: false,
				collapsible: true
			});
			$('.expand').click(function() {
				event.preventDefault();
				$(this).next().toggle();
			}).next().hide();

			$("#tabs").tabs();
		} catch(e) {
			alert("Incorrect password! " + e);
			return;
		}
	});

	$("#buttonLock").click(function(event) {
		event.preventDefault();
		$("#divLocked").show();
		$("#divUnlocked").hide();

		$("#accordion_site").html("");
		$("#accordion_app").html("");
		$("#accordion_bookmark").html("");
		$("#accordion_card").html("");
		$("#accordion_note").html("");
		$("#accordion_json").html("");
	});

	$("#buttonGenerateShow").click(function(event) {
		event.preventDefault();
		$("#divGenerate").dialog();
	});

	$("#buttonGenerate").click(function(event) {
		event.preventDefault();
		$("#inputGeneratedPassword").val(generatePassword(
			$("#inputPasswordLength").val(),
			$("#inputIncludeNum").is(":checked"),
			$("#inputIncludePunc").is(":checked"),
			$("#inputIncludeUc").is(":checked"),
			$("#inputPronounceable").is(":checked")));
	});

	$("#inputPronounceable").click(function(event) {
		if ($("#inputPronounceable").is(":checked")) {
			$("#inputIncludeNum").attr("disabled", true);
			$("#inputIncludePunc").attr("disabled", true);
		} else {
			$("#inputIncludeNum").removeAttr("disabled");
			$("#inputIncludePunc").removeAttr("disabled");
		}
	});

	$("#inputPassword").focus();
});
		</script>
	</head>
	<body>
		<noscript>
			Sorry, this thing heavily depends on JavaScript.
		</noscript>

		<div id="divLocked">
			<form id="formUnlock">
				<h1>Enter password to unlock</h1>
				<p><input id="inputPassword" type="password" /></p>
				<p><button type="submit" id="buttonUnlock">Unlock</button></p>
			</form>
		</div>

		<div id="divUnlocked">
			<div id="divHeader">
				<button id="buttonGenerateShow">Generate password</button>
				<button id="buttonLock">Lock</button>
			</div>

			<div id="tabs">
				<ul>
					<li><a href="#site">Sites</a></li>
					<li><a href="#app">Apps</a></li>
					<li><a href="#bookmark">Bookmarks</a></li>
					<li><a href="#card">Cards</a></li>
					<li><a href="#note">Notes</a></li>
					<li><a href="#json">JSON</a></li>
					<li><a href="#bookmarklet">Bookmarklets</a></li>
				</ul>

				<div id="site">
					<div class="accordion" id="accordion_site"></div>
				</div>
				<div id="app">
					<div class="accordion" id="accordion_app"></div>
				</div>
				<div id="bookmark">
					<div class="accordion" id="accordion_bookmark"></div>
				</div>
				<div id="card">
					<div class="accordion" id="accordion_card"></div>
				</div>
				<div id="note">
					<div class="accordion" id="accordion_note"></div>
				</div>
				<div id="json">
					<div class="accordion" id="accordion_json"></div>
				</div>
				<div id="bookmarklet">
					<h3><a id="bookmarkletForm" href="javascript:javascript:(function(){_my_script=document.createElement('SCRIPT');_my_script.type='text/javascript';_my_script.src='https://raw.github.com/fomichev/cryptobox/master/template/bookmarklet/form.js';document.getElementsByTagName('head')[0].appendChild(_my_script);})();">Parse form</a></h3>
					<p>Use this bookmarklet to obtain form data from the new sites.</p>

					<h3><a id="bookmarkletToken" href="javascript:javascript:(function(){_my_script=document.createElement('SCRIPT');_my_script.type='text/javascript';_my_script.src='https://raw.github.com/fomichev/cryptobox/master/template/bookmarklet/token.js';document.getElementsByTagName('head')[0].appendChild(_my_script);})();">Get token</a></h3>
					<p>Use this bookmarklet to search for security token.</p>
				</div>
			</div>

			<div id="divGenerate" title="Generate password">
				<form>
					<input type="text" id="inputPasswordLength" value="16" size="4" />Length<br />
					<input type="checkbox" id="inputIncludeNum" checked />Include numbers<br />
					<input type="checkbox" id="inputIncludePunc" checked />Include punctuation<br />
					<input type="checkbox" id="inputIncludeUc" checked />Include upper case<br />
					<input type="checkbox" id="inputPronounceable" />Make pronounceable<br />
				</form>

				Generated password:
				<form>
					<p><input type="text" id="inputGeneratedPassword" size="30" /></p>
					<p><input type="submit" id="buttonGenerate" class="button" value="Generate" /></p>
				</form>
			</div>

			<div id="divCopyright"><p>&copy; <a href="mailto:s@fomichev.me">Stanislav Fomichev</a>, 2012</p></div>
		</div>
	</body>
</html>
