<html>
	<head>
		<title>Cryptobox</title>
		<link rel="stylesheet" type="text/css" href="../template/css/style.css" />
		<link rel="stylesheet" type="text/css" href="../template/css/theme/default.css" />

		<script type="text/javascript" src="../template/js/open.js"></script>
		<script type="text/javascript" src="../template/js/view.js"></script>
		<script type="text/javascript" src="../template/js/password.js"></script>

		<script type="text/javascript" src="../template/js/seedrandom.js"></script>

		<script type="text/javascript" src="../template/js/cjs/crypto/crypto.js"></script>
		<script type="text/javascript" src="../template/js/cjs/blockmodes/blockmodes.js"></script>
		<script type="text/javascript" src="../template/js/cjs/aes/aes.js"></script>
		<script type="text/javascript" src="../template/js/cjs/hmac/hmac.js"></script>
		<script type="text/javascript" src="../template/js/cjs/sha1/sha1.js"></script>
		<script type="text/javascript" src="../template/js/cjs/pbkdf2/pbkdf2.js"></script>

		<script type="text/javascript" src="./cfg.js"></script>
		<script type="text/javascript" src="../template/js/crypto.js"></script>
		<script type="text/javascript">
function doUnlock() {
	try {
		unlock(document.getElementById("pwd").value);
	} catch(e) {
		alert("Incorrect password!");
		return;
	}

	document.getElementById("pwd").value = "";
	document.getElementById("layoutLocked").className = "hidden";
	document.getElementById("layoutUnlocked").className = "unhidden";
}

function doLock() {
	lock();
	document.getElementById("layoutLocked").className = "unhidden";
	document.getElementById("layoutUnlocked").className = "hidden";
}

function doShowPasswordBox() {
	var box = document.getElementById("password_box");

	if (box.className == "password_box_hidden") {
		box.className = "password_box_unhidden";
	} else {
		box.className = "password_box_hidden";
	}
}

function doGeneratePassword() {
	var length = document.getElementById("pwdLength").value;
	var includeNumbers = document.getElementById("includeNumbers").checked;
	var includePunc = document.getElementById("includePunc").checked;
	var includeUc = document.getElementById("includeUc").checked;
	var pronounceable = document.getElementById("pronounceable").checked;

	generatePassword(length, includeNumbers, includePunc, includeUc, pronounceable);
}

function doEnableMenu(name) {
	document.getElementById("site").className = "hidden";
	document.getElementById("app").className = "hidden";
	document.getElementById("bookmark").className = "hidden";
	document.getElementById("card").className = "hidden";
	document.getElementById("note").className = "hidden";

	document.getElementById(name).className = "unhidden";
}

		</script>
	</head>
	<body>
		<noscript>
			Sorry, this thing heavily depends on JavaScript.
		</noscript>

		<div id="layoutLocked" class="unhidden">
			<div id="wrapper">
				<div id="container">
					<form onSubmit="javascript:doUnlock();return false;">
						<h1>Enter password to unlock</h1>
						<p><input type="password" id="pwd" /></p>
						<p><input type="submit" value="Unlock" /></p>
					</form>

				</div>
			</div>
		</div>

		<div id="layoutUnlocked" class="hidden">
			<div id="header">
				<a href="#" onClick='javascript:doLock();return false;'>(Lock)</a>
				<a href="#" onClick='javascript:doShowPasswordBox();return false;'>(Generate password)</a>
			</div>

			<hr/>

			<div id="menu">
				<a href="#" onClick='javascript:doEnableMenu("site");return false;'>Sites</a>
				|
				<a href="#" onClick='javascript:doEnableMenu("app");return false;'>Apps</a>
				|
				<a href="#" onClick='javascript:doEnableMenu("bookmark");return false;'>Bookmarks</a>
				|
				<a href="#" onClick='javascript:doEnableMenu("card");return false;'>Cards</a>
				|
				<a href="#" onClick='javascript:doEnableMenu("note");return false;'>Notes</a>
			</div>

			<div id="secret">
				<hr/>
				<div id="site"></div>
				<div id="app" class="hidden"></div>
				<div id="bookmark" class="hidden"></div>
				<div id="card" class="hidden"></div>
				<div id="note" class="hidden"></div>
				<hr/>
				<div id="plaintext"></div>
			</div>



			<div id="password_box" class="password_box_hidden">

				<form>
					<input type="text" id="pwdLength" value="16">Password length<br />
					<input type="checkbox" id="includeNumbers" checked>Include numbers<br />
					<input type="checkbox" id="includePunc" checked>Include punctuation<br />
					<input type="checkbox" id="includeUc" checked>Include upper case<br />
					<input type="checkbox" id="pronounceable">Make pronounceable<br />
				</form>

				Generated password: <div id="pwd2"></div>

				<a href="#" onClick="javascript:doGeneratePassword();return false;">Generate Password</a>

				<a href="#" onClick='javascript:doShowPasswordBox();return false;'>Close</a>
			</div>

			<hr />
			<div id="bookmarklets">
				Bookmarklet:

				(<a href="javascript:javascript:(function(){_my_script=document.createElement('SCRIPT');_my_script.type='text/javascript';_my_script.src='https://raw.github.com/fomichev/cryptobox/master/template/bookmarklet/form.js';document.getElementsByTagName('head')[0].appendChild(_my_script);})();">Parse form</a>)

				(<a href="javascript:javascript:(function(){_my_script=document.createElement('SCRIPT');_my_script.type='text/javascript';_my_script.src='https://raw.github.com/fomichev/cryptobox/master/template/bookmarklet/token.js';document.getElementsByTagName('head')[0].appendChild(_my_script);})();">Get token</a>)
			</div>
		</div>
	</body>
</html>
