/* TEMP { */
.hidden { display: none; }
.unhidden { display: block; }
/* TEMP } */

.buttonSmall {
	font-size: .6em !important;
}

#divCopyright {
	text-align: center;
}

#divHeader {
	text-align: right;
}

#divLocked {
	text-align: center;
}
